<body>

<div class="container">
<div class="photo"><img src="/assets/pressphoto2.jpg"/>
</div>

<div id="contact">
<h3>Contact Information</h3>
 <ul><b>  Contact Me:</b>  
	<li> P.O. Box 40444 Atlanta, GA 30345
</ul>
	Phone: XXX-XXX-XXXX
</P>
<P>
	<ul>
	<li> E-mail: chris@seejoneswork.com
	<li> Twitter: therealcj </li>
	<li> Instagram: therealcj85 </li>
	<li> Facebook: facebook.com/seejoneswork
	<li> LinkedIn: linkedin.com/in/seejoneswork
</ul>

 <ul><b>  I look forward to hearing from you!:</b>  
	<li> P.O. Box 40444 Atlanta, GA 30345
</ul>
	Phone: XXX-XXX-XXXX
	<ul>
	<li> E-mail: chris@seejoneswork.com
	<li> Twitter: therealcj </li>
	<li> Instagram: therealcj85 </li>
	<li> Facebook: facebook.com/seejoneswork
	<li> LinkedIn: linkedin.com/in/seejoneswork
</ul>
</div>
</div>