
<body>
<div class="container">
<div class="photo"><img src="/assets/pressphoto1.jpg"/>
</div>

<h3></span class="black" face="verdana" color="black">Biography</h3>
<div id="bio">
 I've been passionate about art, design, and the written word ever since I was old enough to pick up a crayon. My professional experience involves developing effective communications collateral for businesses and non-profits. I am inspired by stories of individuals living out their purpose to make a difference, and like when I can use my skills to help them stand out in a crowded marketplace. About a year ago, I started a rewarding job where I'm able to use my marketing and design know-how to help families grow their famiies through open adoption. Originally from Tennessee, I am excited to make a new home here in Atlanta. When I'm not designing or learning something new, I'm usually out exploring the city. I enjoy being active, catching live music concerts, and connecting with people over food (especially brunch!). Let's connect!
<P>
<ul><b>  EDUCATION:</b>  
	<li> MBA, Marketing – Lincoln Memorial University, 2013 
	<li> BFA, Graphic Design – The University of Tennessee, 2008  
</ul>
<P>
<ul> <b>ART EXHIBITIONS & LIVE ART PERFORMANCES:</b>
<li>October 2013: Exhibiting Artist, DunkXChange @ QUAD (part of A3C Hip-hop Festival); Atlanta, GA
<li>October 2013: Featured Artist, UNITE Event at Noni's Village; (A3C Hip-hop Festival); Atlanta, GA
</ul>
<P>
<ul><b> PREVIOUS SHOWCASES:</b>
<li> Kuumba Festival, Market Square; Knoxville, TN
<li> The University of Tennessee Undergraduate Art Exhibition; Knoxville, TN 
</ul>
<ul> <b>CAPABILITIES: </b>
<li> Graphic Design, Web Design, Marketing Strategy & Consultation, Copywriting, Visual Art, Drawing, Event Planning & Logistics
</ul>
</div>
</div>